.in-addition {
    background-color: rgba(246, 246, 246, 1);
}

.in-addition * {
    margin: 0;
}

.in-addition-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 79px 40px 100px;
}

.in-addition-title {
    max-width: 300px;
}

.in-addition-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.in-addition-bank {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.credit-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: 0;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.credit-card:hover {
    background-color: #FDDCC4;
    ;
    transform: scale(98%);
    transition: 0.5s;
}

.credit-card-content {
    width: 380px;
    height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.credit-card img {
    padding: 0 15px;
}

@media (max-width: 980px) {
    .in-addition-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .in-addition-container {
        gap: 60px;
    }
}

@media (max-width: 600px) {
    .in-addition-img {
        max-width: calc(260px + (505 - 260) * ((100vw - 320px) / (600 - 320)));
    }
}

@media (max-width: 430px) {
    .in-addition-container {
        padding: 42px 20px 41px;
    }

    .in-addition-wrapper {
        gap: 23px;
    }

    .in-addition-title {
        text-align: center;
        padding: 0px 30px;
    }

    .credit-card {
        width: calc(281px + (349 - 281) * ((100vw - 320px) / (767 - 320)));
        font-size: 15px;
    }

    .in-addition-bank {
        letter-spacing: 0px;
        padding-left: 3px;
    }

    .credit-card-content {
        width: calc(280px + (380 - 280) * ((100vw - 320px) / (767 - 320)));
        text-align: justify;
    }
}