.in-addition-container {
    display: flex;
    align-items: center;
}

.in-addition {
    background-color: rgba(246, 246, 246, 1);
    height: 462px;
}

.in-addition-title {
    width: 300px;
    height: 90px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.in-addition-bank {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.credit-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 43px;
    left: 0px;
    top: 147px;
    background: #F1CDB3;
    border-radius: 9px;
    border: 0;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.credit-card-content {
    width: 380px;
    height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}